.button {
    font-family: $font-family-brand;
    font-size: map-get($sizes, base);
    padding: ( map-get($sizes, base) - .25rem ) ( map-get($sizes, base) + .9rem);
    border: none;
    cursor: pointer;
    font-weight: 700; 
    line-height: 1;
    outline: none;
    width: 100%;
    transition: .3s ease;
 
    // Hierarchy
    &.primary {
       @include button( color( primary, base ) );
       &.outline {
          @include button( transparent, color( primary, base ) );
          border: .13rem solid color( primary, base );
          box-shadow: none;
          &:hover, &:active {
             @include button( color( primary, base ) );
             box-shadow: none;
          }
       }
    }
    &.secondary {
       @include button( color( secondary, base ), color( grayscale, base ) );
       &.outline {
          @include button( transparent, color( secondary, base ) );
          border: .15rem solid color( secondary, base );
          box-shadow: none;
          &:hover, &:active {
             @include button( color( secondary, base ), color( grayscale, white ));
          }
       }
    }
    
    // sizes
    &.small {
       padding:    ( 1rem - .50rem ) ( 1rem );
       font-size:  ( 1rem - .25rem );
    }
    &.large {
       padding:    ( 1rem ) ( 1rem + .50rem);
       font-size:  ( 1rem + .25rem );
    }
    &.circle {
       border-radius: 50%;
       height: 2.5rem;
       width: 2.5rem;
       display: inline-flex;
       justify-content: center;
       font-size: 1.45rem;
       padding: inherit;
       align-items: center;
    }
    // Rounded
    &.rounded {
       border-radius: 2.1rem;
    }
    &.block {
       display: block;
       width: 100%;
    }
}
 