.container {
    width: 100%;
    padding: {
        left: map-get($sizes , base );
        right: map-get($sizes , base );
    }
    margin: {
        left: auto;
        right: auto;
    };

    @each $name, $value in $breakpoints {
        @include mq-min($name) {
            max-width: $value;
        }
    }

    @each $name, $value in $breakpoints {
        @include m($name) {
            max-width: map-get($breakpoints, $name);
        }
    }

}