
// ==========================================================================
// TEXT SIZES: Ej.: .text-tiny / text-huge;
// ==========================================================================
@each $name, $size in $sizes {
    .text-#{$name} {
        font-size: $size;
        transition: .3s ease;
    }
}

// ==========================================================================
// TEXT ALIGNMENT : Eje.: text-center
// ==========================================================================
@each $name in $alignment {
    .text-#{$name} {
      text-align: $name;
    }
}

// ==========================================================================
// TEXT ALIGNMENT : Eje.: text-center
// ==========================================================================
.text {
    @include color-modifiers('text', 'color');
}
  