
.c-header {

    @include box-shadow(2);
    padding: map-get($sizes, tiny);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    @include e(logo) {}

    @include e(title) {
        margin: 0;
        font-size: map-get($sizes, half);
    }

    @include e(menu) {}

}