// ==========================================================================
// FontStack Lato
// ==========================================================================

@font-face {
    font-family: 'Lato';
    src:  url('../../fonts/Lato/Lato-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Lato';
    src:  url('../../fonts/Lato/Lato-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: block;
}
 
@font-face {
    font-family: 'Lato';
    src:  url('../../fonts/Lato/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Lato';
    src:  url('../../fonts/Lato/Lato-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: block;
}
 
@font-face {
    font-family: 'Lato';
    src:  url('../../fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Lato';
    src:  url('../../fonts/Lato/Lato-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: block;
}
 
@font-face {
    font-family: 'Lato';
    src:  url('../../fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Lato';
    src:  url('../../fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Lato';
    src:  url('../../fonts/Lato/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Lato';
    src:  url('../../fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: block;
}

// ==========================================================================
// FontStack Martel
// ==========================================================================

@font-face {
    font-family: 'Lato';
    src:  url('../../fonts/Martel/Martel-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Lato';
    src:  url('../../fonts/Martel/Martel-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Lato';
    src:  url('../../fonts/Martel/Martel-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: block;
}

// ==========================================================================
// Importación de fuente de iconos
// ==========================================================================

@font-face {
    font-family: 'ds';
    src:    url('../../fonts/icons/ds.eot?uk8w17');
    src:    url('../../fonts/icons/ds.eot?uk8w17#iefix') format('embedded-opentype'),
            url('../../fonts/icons/ds.ttf?uk8w17') format('truetype'),
            url('../../fonts/icons/ds.woff?uk8w17') format('woff'),
            url('../../fonts/icons/ds.svg?uk8w17#ds') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
 